.button{
    position: relative;
    @include text(#fff,16px,600);

    &-filled{
        display: block;
        padding: 19px 44px;
        background: $orange;
        border: none;
        outline: none;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;

        span{
            position: relative;
            z-index: 2;
            transition: all .2s linear;
        }

        &:after{
            content: '';
            height: 120%;
            width: 120%;
            transform: rotate(-45deg);
            position: absolute;
            top: -70%;
            left: -60%;
            z-index: 1;
            background: #fff;
            transition: all .2s linear;

            @media screen and (max-width: 400px) {
                height: 115%;
                width: 115%;
            }
        }

        &:hover{
            span{
                color: $orange;
            }
            &:after{
                transform: scale(3) rotate(0deg);
                top: 0%;
                left: 0%;
            }
        }
    }

    &-outlined{
        min-width: 276px;
        display: block;
        padding: 19px 44px;
        background: transparent;
        border: none;
        outline: none;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid $orange;

        span{
            position: relative;
            z-index: 2;
            transition: all .2s linear;
        }

        &:after{
            content: '';
            height: 120%;
            width: 120%;
            transform: rotate(-45deg);
            position: absolute;
            top: -70%;
            left: -60%;
            z-index: 1;
            background: $orange;
            transition: all .2s linear;

            
        }

        &:hover{
            &:after{
                transform: scale(3) rotate(0deg);
                top: 0%;
                left: 0%;
            }
        }
    }

    &-without_after{
        transition: all .2s linear !important;

        &:hover{
            background: #fff;
            &::after{
                display: none !important;
            }
        }

        &::after{
            content: "";
            display: none !important;
        }
    }

    @media screen and (max-width: 400px) {
        font-size: 14px;
        padding: 16px 20px;
        min-width: 250px;
    }
}