.career_page{
    .center_line{
        margin-left: 15px !important;
    }
    .intro{
        position: relative;
        min-height: 78vh;
        display: flex;

        .container{
            display: block;
            margin-top: auto;
            height: 100%;
        }

        &__content{
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: space-between; 

            position: relative;
            z-index: 2;

            .content__info {
                padding-bottom: 94px;
                flex: 0 1 45%;

                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .info__title {
                    @include text(#fff,64px,600,78px);
                    margin-bottom: 68px;

                    position: relative;
                        z-index: 2;

                        &:after{
                            content: '';
                            height: 48px;
                            width: 120%;
                            transform: translateX(-4%);
                            position: absolute;
                            bottom: -4px;
                            left: 0;
                            z-index: -1;
                            background: $orange;
                        }
                }
                .info__text {
                    @include text(#fff,24px,600,36px);
                    margin-bottom: 45px;
                }
                @media screen and (max-width: 1400px) {
                    .info__title{
                        @include text(#fff,54px,600,78px);
                        margin-bottom: 48px;
                        &:after{
                            width: 115%;
                            content: '';
                            height: 38px;
                            bottom: 5px;
                        }
                    }
                    .info__text {
                        @include text(#fff,20px,600,30px);
                        margin-bottom: 45px;
                    }
                }
                @media screen and (max-width: 1250px) {
                    flex: 0 1 43%;
                    .info__text {
                        @include text(#fff,18px,600,28px);
                        margin-bottom: 45px;
                    } 
                }
            }

            .mb_line{
                display: none;

                @media screen and (max-width: 1000px) {
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #555555;
                }
            }

            .content__image {
                flex: 0 1 50%;
                
                img{
                    width: 100%;
                    margin-bottom: -65px;
                }
            }

            @media screen and (max-width: 1000px) {
                .container{
                    padding: 0 !important;
                }
                flex-wrap: wrap;

                .content__info{
                    order: 2;
                    margin-top: 32px;
                    padding: 0 48px !important;
                    flex: 0 1 100%;
                    
                    .info__btn {
                        margin-bottom: 60px;
                    }
                }

                .content__image{
                    flex: 0 1 100%;
                    order: 1;
                    text-align: center;
                    position: relative;
                    
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 43px;
                        background: $orange;
                    }

                    img{
                        max-width: 60%;
                        margin: 0 auto;
                        margin-bottom: 0;
                    }
                }
            }

            @media screen and (max-width: 700px) {
                .content__info{
                    order: 2;
                    margin-top: 32px;
                    padding: 0 24px !important;
                    flex: 0 1 100%;

                    .info__title {
                        @include text(#fff,32px,600,39px);
                        margin-bottom: 28px;

                        &:after{
                            content: '';
                            height: 19px;
                            width: 115%;
                            transform: translateX(-3%);
                            position: absolute;
                            bottom: 3px;
                            left: 0;
                            z-index: -1;
                            background: $orange;
                        }
                    }

                    .info__text {
                        @include text(#fff,18px,600,26px);
                        margin-bottom: 32px;
                    }
                    
                    .info__btn {
                        margin-bottom: 60px;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                .content__image{
                    img{
                        max-width: 80%;
                        margin: 0 auto;
                        margin-bottom: 0;
                    }
                }
            }
        }
        @media screen and (max-width: 1000px) {
            .container{
                padding: 0 !important;
            }
        }

        @media screen and (min-height: 1100px) {
            min-height: 64vh;
          }
  
          @media screen and (min-height: 1000px) and (max-height: 1100px) {
            min-height: 70vh;
          }
    }

    .vacancies_orange {
        background: $orange;
        padding: 17px 15px;
        &__title {
            @include text(#fff,24px,300,38px);
            letter-spacing: 0.148em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    .vacanties {
        position: relative;

        .container{
            @media screen and (max-width: 500px) {
                padding: 0px 20px;
            }
        }

        .vacanties__title{
            display: none;

            @media screen and (max-width: 1000px) {
                display: block;
                letter-spacing: 0.148em;
                text-transform: uppercase;
                @include text(#555555,20px,600,36px);
                margin-top: 60px;
                margin-left: 24px;
            }

            @media screen and (max-width: 500px) {
                margin-left: 0px;
            }
        }

        .vacanties__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow: hidden;

            position: relative;
            z-index: 2;

            .list__item {
                position: relative;
                padding-bottom: 96px;
                display: flex;
                align-items: flex-start;
                flex: 0 1 40%;
                margin-bottom: -1px;

                margin-top: 99px;

                .item__image {
                    border-radius: 50%;
                    border: 1px solid #555555;
                    width: 70px;
                    height: 70px;
                    padding: 13px 17px 20px 17px;
                    margin-right: 15px;

                    @media screen and (max-width: 900px) {
                        width: 50px;
                        height: 50px;
                        padding: 10px 12px 14px 12px;
                        img{
                            width: 25px
                        }
                    }
                }
                .item__info {
                    
                    .info__title {
                        @include text(#fff,48px,600,59px);
                        margin-bottom: 47px;
                        padding-top: 5px;

                        @media screen and (max-width: 1400px) {
                            @include text(#fff,36px,600);
                            padding-top: 15px;
                            margin-bottom: 37px;
                        }
                        @media screen and (max-width: 900px) {
                            padding-top: 10px;
                            @include text(#fff,24px,600);
                            margin-bottom: 32px;
                        }

                        @media screen and (max-width: 350px) {
                            padding-top: 14px;
                            margin-left: -5px;
                            @include text(#fff,20px,600);
                        }
                    }

                    .info__text {
                        @include text(#fff,16px,300,24px);
                        margin-bottom: 47px;

                        @media screen and (max-width: 1400px) {
                            margin-bottom: 37px;
                            @include text(#fff,15px,300,22px);
                        }

                        @media screen and (max-width: 1100px) {
                            margin-left: -80px;
                        }

                        @media screen and (max-width: 900px) {
                            margin-left: -60px;
                            margin-bottom: 24px;
                        }
                        @media screen and (max-width: 500px) {
                            @include text(#fff,14px,300,22px);
                        }
                        @media screen and (max-width: 350px) {
                            @include text(#fff,12px,300,22px);
                        }
                    }

                    .info__details {
                        @include text(#fff,20px,400,24px);
                        margin-bottom: 24px;

                        @media screen and (max-width: 1100px) {
                            margin-left: -80px;
                        }
                        @media screen and (max-width: 900px) {
                            margin-left: -60px;
                        }
                        @media screen and (max-width: 900px) {
                            @include text(#fff,18px,400,22px);
                        }
                        @media screen and (max-width: 500px) {
                            margin-bottom: 12px;
                            @include text(#fff,14px,400,17px);
                        }
                        @media screen and (max-width: 350px) {
                            @include text(#fff,13px,400,22px);
                        }
                    }

                    .info__btn{
                        margin-top: 48px;
                        min-width: 276px;

                        @media screen and (max-width: 1100px) {
                            margin-left: -80px;
                        }
                        @media screen and (max-width: 900px) {
                            margin-left: -60px;
                            margin-top: 0px;
                        }

                        @media screen and (max-width: 500px) {
                            font-size: 14px;
                            padding-top: 16px;
                            padding-bottom: 16px;
                            min-width: 160px;
                            margin-top: 24px;
                        }
                    }
                }
                .item__line{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border: none;
                    border-bottom: 1px solid #555555;
                    width: 359px;
                    @media screen and (max-width: 900px) {
                        width: 280px;
                    }
                    @media screen and (max-width: 500px) {
                        width: 160px;
                        left: 5px;
                    }
                }

                @media screen and (max-width: 1700px) {
                    flex: 0 1 45%;
                }
                @media screen and (max-width: 1400px) {
                    margin-top: 80px;
                    padding-bottom: 86px;
                }

                @media screen and (max-width: 1000px) {
                    padding-bottom: 72px;
                    margin-top: 42px;
                    flex: 0 1 48%;
                }

                @media screen and (max-width: 700px) {
                    margin-left: auto;
                    margin-right: auto;
                    flex: 0 1 90%;
                }
                @media screen and (max-width: 500px) {
                    padding-bottom: 32px;
                    margin-top: 32px;

                    margin-left: 0px;
                    margin-right: auto;
                    flex: 0 1 100%;
                }
            }
            
        }
    }

    @media screen and (max-width: 1700px) {
        .right_line{
            display: none;
        }
    }
}