.footer{
    background: #131313;
    padding-bottom: 73px;
    margin-left: 90px;

    .container{
        margin: 0 auto;
        width: 100%;
        max-width: 1590px;
        padding: 0px 48px;

        @media screen and (max-width: 700px) {
            padding: 0px 24px;
        }
    }

    &__content{
        .content__top {
            padding-bottom: 115px;
            .top__header {
                padding-top: 52px;
                display: flex;
                margin-bottom: 77px;

                .header__item {
                    @include text(#fff,48px,600);
                    position: relative;
                    margin-right: 47px;
                    
                    &-active{
                        span {
                            position: relative;
                            z-index: 2;
                        }
    
                        &:after{
                            content: '';
                            height: 38px;
                            width: 106%;
                            transform: translateX(-3%);
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            z-index: 1;
                            background: $orange;

                            @media screen and (max-width: 700px) {
                                height: 22px;
                            }
                            @media screen and (max-width: 350px) {
                                height: 15px;
                                bottom: 0px;
                            }
                        }
                    }

                    &-clickable{
                        cursor: pointer;
                    }
                }

                @media screen and (max-width: 900px) {
                    flex-wrap: wrap;

                    .header__item{
                        margin-bottom: 24px;
                        &:first-child{
                            flex: 0 1 100%;
                        }
                    }
                }

                @media screen and (max-width: 700px) {
                    margin-bottom: 40px;

                    .header__item{
                        @include text(#fff,36px,600,29px);
                    }
                }

                @media screen and (max-width: 500px) {
                    .header__item{
                        @include text(#fff,24px,600,29px);
                    }
                }

                @media screen and (max-width: 350px) {
                    .header__item{
                        @include text(#fff,20px,600,29px);
                    }
                }
            }

            .top__contacts {
                display: flex;
                justify-content: space-between;

                .contacts__info {
                    .info__item {
                        display: flex;
                        align-items: flex-start;
                    }

                    .item__image {
                        min-width: 60px;
                        @media screen and (max-width: 600px) {
                            min-width: 30px;
                            img{
                                max-height: 30px;
                            }
                        }
                    }

                    .letter__image{
                        @media screen and (max-width: 600px) {
                            img{
                                max-height: 20px;
                            }
                        }
                    }
                    
                    .item__text {
                        margin-left: 20px;
                        max-width: 423px;

                        @include text(#fff,24px,600,36px);
                        margin-bottom: 34px;

                        &-link{
                            text-decoration: underline;
                        }

                        @media screen and (max-width: 600px) {
                            @include text(#fff,20px,600,24px);
                        }
                        @media screen and (max-width: 500px) {
                            @include text(#fff,16px,600,20px);
                        }
                    }
                }
                .contacts__map {
                    flex: 0 1 47%;
                    min-height: 367px;
                    margin-right: 60px;
                    margin-top: 5px;

                    @media screen and (max-width: 1200px) {
                        margin-right: 0px;
                    }
                    @media screen and (max-width: 1100px) {
                        flex: 0 1 100%;
                        min-height: 45vh;
                    }
                    @media screen and (max-width: 500px) {
                        min-height: 22vh;
                    }
                } 

                @media screen and (max-width: 1100px) {
                   flex-wrap: wrap;
                }
            }

            @media screen and (max-width: 600px) {
                padding-bottom: 40px;
            }
        }
        
        .content__bottom {
            padding-top: 60px;
            border-top: 1px solid #555555;

            display: flex;
            align-items: flex-end;

            .bottom__logo {
                .logo__text {
                    margin-top: 20px;
                    @include text(#fff,16px,400,20px);
                }

                @media screen and (max-width: 400px) {
                    @include text(#fff,12px,400,15px);
                    img{
                        max-width: 198px
                    }
                }
            }
            
            .bottom__link {
                @include text(#C4C4C4,16px,400,20px);
                text-decoration: underline;
                margin-left: 140px;

                transition: all .2s linear;

                &:hover{
                    color: #fff;
                }

                @media screen and (max-width: 1200px) {
                    margin-left: 70px;
                }
                @media screen and (max-width: 1000px) {
                    margin-left: 0px;
                    margin-top: 16px;
                }

                @media screen and (max-width: 400px) {
                    @include text(#C4C4C4,12px,400,15px);
                }
            }
            .bottom__digital {
                margin-left: auto;

                @media screen and (max-width: 1000px) {
                    margin-top: 10px;
                }
                @media screen and (max-width: 400px) {
                    img{
                        max-width: 149px
                    }
                }
            }

            @media screen and (max-width: 1000px) {
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    .dn{
       display: none !important;
    }

    @media screen and (max-width: 1100px) {
        margin-left: 0px;
    }

    @media screen and (max-width: 500px) {
        padding-bottom: 40px;
    }
}