@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import './variables.scss';
@import "./mixins.scss";
@import "./animations.scss";

@import "./_navigation.scss";
@import "./_footer.scss";

@import "./_header.scss";

@import "./modals.scss";

//Pages
// @import "./pages/";

//Components
@import "./components/button.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: scroll-behavior 1s linear;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.wrapper{
    min-height: 100vh;
    background: $grey-1;
    margin-left: 90px;
}

.container{
    max-width: 1538px;
    margin: 0 auto;
    padding: 0px 47px;
}

.center_line{
    position: absolute;
    // top: 223px;
    left: calc(50% - 1px - 50px);
    width: 1px;
    height: 100vh;
    background: #000;
}

.main_page{
    .intro{
        min-height: calc(100vh - 94px);
        // padding-bottom: 137px;
        position: relative;
        .center_line{
            bottom: 0;
            height: 75vh;
            
            top: auto;
        }
        .container{
            height: 100%;
            padding: 0px 10px;
        }
        &__content{
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 100px;

            .content__info {
                position: relative;
                margin-top: 70px;
                z-index: 2;
                flex: 0 1 50%;
                .info__title{
                    @include text(#fff,64px,600,78px);

                    span{
                        position: relative;
                        z-index: 2;

                        &:after{
                            content: '';
                            height: 48px;
                            width: 103%;
                            transform: translateX(-1.5%);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: -1;
                            background: $orange;
                        }
                    }
                }

                .info__btn{
                    margin-top: 56px;
                }

                .info__logos {
                    margin-top: 135px;
                    .logos__item {
                        margin-right: 77px;
                        height: 16px;
                    }
                }
                
            }

            .content__image {
                flex: 0 1 40%;
                background: url('../img/intro/windmill__area.svg') center no-repeat;
                background-size: 100% auto;
                min-height: 591px;
                

                img{
                    display: block;
                }

                .image__windmill {
                    max-width: 80%;
                    margin: 0 auto;
                    margin-top: 87px;
                    transform: translateX(5%);
                    // margin-left: 20px;
                }

                .image__vector {
                    display: block;
                    transform: translateY(30%);
                }
            }
        }
    }

    .about_company{
        padding: 69px 16px 110px 16px;
        background: #E9623E;

        .company__content{
            max-width: 830px;
            margin: 0 auto;
            @include text(#FFF,24px,400,38px);
            text-transform: uppercase;
            letter-spacing: 0.148em;
        }
    }

    .company_mission{
        background: #131313;
        padding: 75px 15px;

        .mission__container{
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;
        }

        .mission__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;

            .content__title{
                transform: rotate(-90deg);
                @include text(#fff,48px,600,59px);
                background: $orange;
                text-transform: uppercase;
                padding: 6px 25px;
                margin-top: 10px;
            }

            .content__text{
                @include text(#fff,48px,600,59px);
            }
        }
    }
}