@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import './variables.scss';
@import "./mixins.scss";
@import "./animations.scss";

@import "./_navigation.scss";
@import "./_footer.scss";

@import "./_header.scss";

@import "./modals.scss";

//Pages
@import "./pages/main.scss";
@import "./pages/career.scss";

//Components
@import "./components/button.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: scroll-behavior 1s linear;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.wrapper{
    min-height: 100vh;
    background: $grey-1;
    margin-left: 90px;

    @media screen and (max-width: 1100px) {
        margin-left: 0px;
    }
}

.container{
    max-width: 1538px;
    margin: 0 auto;
    padding: 0px 47px;

    &-right{
        max-width: 88vw;
        margin-left: auto;
        margin-right: 0;
        padding-right: 0px;

        @media screen and (max-width: 1100px) {
            max-width: 1538px;
        }
    }

    @media screen and (max-width: 1100px) {
        margin-left: 0;
        padding: 0px 24px;
    }
}

.center_line{
    position: absolute;
    top: 0;
    left: calc(50% - 1px - 50px);
    width: 1px;
    height: 100%;
    background: #000;

    &-intro{
        bottom: 0;
        height: 77%;
            
        top: auto;
    }
    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.right_line{
    position: absolute;
    top: 0;
    right: 91px;
    width: 1px;
    height: 100%;
    background: #000;

    &-intro{
        bottom: 0;
        height: 77%;
        top: auto;
    }

    @media screen and (max-width: 1500px) {
        right: 81px;
    }

    @media screen and (max-width: 1100px) {
        display: none;
    }
}

