@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import './variables.scss';
@import "./mixins.scss";
@import "./animations.scss";

@import "./_navigation.scss";
@import "./_footer.scss";

@import "./_header.scss";

@import "./modals.scss";

//Pages
@import "./pages/main.scss";
@import "./pages/career.scss";
@import "./pages/news.scss";
@import "./pages/about.scss";
@import "./pages/current_ml.scss";
@import "./pages/pulse.scss";
@import "./pages/policy.scss";
@import "./pages/error.scss";

//Components
@import "./components/button.scss";
@import "./components/req-modal.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: scroll-behavior 1s linear;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.wrapper{
    min-height: 100vh;
    background: $grey-1;
    margin-left: 90px;

    @media screen and (max-width: 1100px) {
        margin-left: 0px;
    }
}

.container{
    max-width: 1538px;
    margin: 0 auto;
    padding: 0px 47px;

    &-right{
        max-width: 88vw;
        margin-left: auto;
        margin-right: 0;
        padding-right: 0px;

        @media screen and (max-width: 1100px) {
            max-width: 1538px;
        }
    }

    @media screen and (max-width: 1100px) {
        margin-left: 0;
        padding: 0px 24px;
    }
}

.center_line{
    position: absolute;
    top: 0;
    left: calc(50% - 1px - 50px);
    width: 1px;
    height: 100%;
    background: #000;

    &-intro{
        bottom: 0;
        height: 77%;
            
        top: auto;
    }
    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.right_line{
    position: absolute;
    top: 0;
    right: 91px;
    width: 1px;
    height: 100%;
    background: #000;

    &-intro{
        bottom: 0;
        height: 77%;
        top: auto;
    }

    &-about{
        bottom: 0;
        height: calc(100% - 94px);
        top: auto;
    }

    @media screen and (max-width: 1500px) {
        right: 81px;
    }

    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.section_title{
    @include text(#fff,48px,600,59px);

    @media screen and (max-width: 500px) {
        @include text(#fff,24px,600,29px);
    }
}

.products{
    .intro{
        min-height: calc(100vh - 94px);
        padding-bottom: 157px;
        position: relative;

        .container{
            height: 100%;
            max-width: 1588px;
            @media screen and (max-width: 700px) {
                padding: 0px 34px;
            }

            @media screen and (max-width: 400px) {
                padding: 0px 21px;
            }
        }

        &__content{
            position: relative;
            z-index: 2;
            height: 100%;

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 100px;

            .content__info {
                position: relative;
                margin-top: 70px;
                z-index: 2;
                flex: 0 1 50%;

                .info__exebenus {
                    margin-top: 100px;
                    margin-bottom: 22px;
                    img{
                        height: 30px;
                    }
                    @media screen and (max-width: 1200px) {
                        img{
                            height: 23px;
                        }
                    }

                    @media screen and (max-width: 1100px) {
                        margin-top: 0px;
                    }
                    @media screen and (max-width: 1100px) {
                        img{
                            height: 30px;
                        }
                    }
                    @media screen and (max-width: 700px) {
                        img{
                            max-width: 55vw;
                            height: auto;
                        }
                    }
                }

                .info__product {
                    margin-bottom: 50px;
                    img{
                        height: 40px;
                    }

                    &-pulse{
                        @media screen and (max-width: 500px) {
                            margin-bottom: 40px;
                            img{
                                max-width: 46vw !important;
                                height: auto;
                            }
                        }
                    }

                    @media screen and (max-width: 1200px) {
                        img{
                            height: 33px;
                        }
                    }
                    @media screen and (max-width: 1100px) {
                        img{
                            height: 40px;
                        }
                    }
                    @media screen and (max-width: 700px) {
                        img{
                            max-width: 85vw;
                            height: auto;
                        }
                    }
                    @media screen and (max-width: 500px) {
                        margin-bottom: 40px;
                        img{
                            max-width: 88vw;
                            height: auto;
                        }
                    }
                }

                .info__losung{
                    max-width: 423px;
                    @include text(#fff,24px,600,36px);

                    @media screen and (max-width: 1100px) {
                        max-width: 700px;
                    }
                    
                }

                .info__text{
                    margin-top: 44px;
                    max-width: 535px;
                    @include text(#fff,16px,600,20px);

                    @media screen and (max-width: 500px) {
                        margin-top: 24px;
                    }
                }

                .info__btn{
                    margin-top: 21px;
                }

                .info__logos {
                    margin-top: 135px;
                    .logos__item {
                        margin-right: 77px;
                        height: 16px;
                    }
                }

                @media screen and (max-width: 1500px) {
                    flex: 0 1 45%;
                    .info__title{
                        @include text(#fff,50px,600,68px);
                        span{
                            &:after{
                                content: '';
                                height: 35px;
                            }
                        }
                    }
                   .info__logos{
                       margin-top: 70px;
                       .logos__item{
                           margin-right: 40px;
                       }
                   }
                }

                @media screen and (max-width: 1300px) {
                    .info__title{
                        @include text(#fff,40px,600,58px);
                        span{
                            &:after{
                                width: 107%;
                                transform: translateX(-3%);
                                content: '';
                                height: 27px;
                            }
                        }
                    }  
                    .info__logos{
                        margin-top: 50px;
                        .logos__item{
                            margin-right: 20px;
                            margin-bottom: 20px;
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    margin-top: 50px;
                }

                @media screen and (max-width: 1100px) {
                    margin-top: 50px;
                    padding: 0px 50px;
                }
                @media screen and (max-width: 700px) {
                    margin-top: 20px;
                    padding: 0px 0px;
                }

                @media screen and (max-width: 500px) {
                    margin-top: -50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .info__btn{
                        margin-top: 24px;
                        order: 3;
                    }
                }
                @media screen and (max-width: 450px) {
                    margin-top: -80px; 
                }
                @media screen and (max-width: 400px) {
                    margin-top: -90px;
                }
                @media screen and (max-width: 360px) {
                    margin-top: -90px;
                }
                @media screen and (max-width: 350px) {
                    margin-top: -130px;
                }
            }

            .content__image {
                position: relative;
                z-index: 2;
                flex: 0 1 40%;
                background: url('../img/intro/windmill__area.svg') center no-repeat;
                background-size: 100% auto;
                min-height: 591px;

                img{
                    display: block;
                }

                .image__windmill {
                    max-width: 80%;
                    margin: 0 auto;
                    margin-top: 87px;
                    transform: translateX(5%);
                    // margin-left: 20px;
                }

                .image__vector {
                    display: block;
                    transform: translateY(30%);
                    opacity: 0;
                }

                @media screen and (max-width: 1500px) {
                    transform: scale(.9);
                }

                @media screen and (max-width: 1300px) {
                    transform: scale(.8);
                }

                @media screen and (max-width: 1200px) {
                    transform: scale(.8) ;
                }

                @media screen and (max-width: 1100px) {
                    transform: scale(1);
                    margin: 0 auto;
                }
                @media screen and (max-width: 700px) {
                    margin-top: -40px;
                    transform: scale(.8); 
                }

                @media screen and (max-width: 600px) {
                    max-width: 100%;
                    transform: scale(1); 
                    .image__windmill {
                        display: block;
                        margin-top: 25%;
                        max-width: 70%;
                    }
    
                    .image__vector {
                        max-width: 100%;
                    }
                }
                @media screen and (max-width: 500px) {
                    .image__windmill {
                        display: block;
                        margin-top: 33%;
                        max-width: 70%;
                    }
                }
                @media screen and (max-width: 450px) {
                    margin-top: -100px;
                    .image__windmill {
                        margin-top: 160px;
                    }
                }
                @media screen and (max-width: 400px) {
                    .image__windmill {
                        margin-top: 180px;
                    }
                }
                @media screen and (max-width: 360px) {
                    .image__windmill {
                        margin-top: 200px;
                    }
                }
            }

            .content__arrow{
                display: none;

                @media screen and (max-width: 1100px) {
                    margin-top: 64px;
                        flex: 0 1 100%;
                        text-align: center;
    
                        display: flex;
                        justify-content: center;
                        order: 3;
                        margin-left: auto;
                        margin-right: auto;
                }
            }

            @media screen and (max-width: 1500px) {
                padding-top: 50px;
            }
            @media screen and (max-width: 1200px) {
                padding-top: 42px;
            }

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                padding-top: 0px;

                .content__info{
                    order: 2;
                }
                .content__image{
                    order: 1;
                }
            }
        }

        @media screen and (max-width: 1300px) {
            padding-bottom: 70px;
        }
        @media screen and (max-width: 700px) {
            padding-bottom: 40px;
        }
    }

    .about_product {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 875px;
        z-index: 1;
    
        @media screen and (max-width: 1080px) {
          background-color: #131313;
        }
    
        &:before, &:after {
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          height: 230px;
          left: 0;
          background-color: #131313;
          z-index: -1;
        }
    
        &:before {
          top: 0;
        }
    
        &:after {
          bottom: 0;
        }
    
        .container {
          @media screen and (max-width: 480px) {
            padding: 0;
          }
    
          .about_product_content {
            .about_item {
              width: 100%;
              height: max-content;
              display: flex;
              justify-content: space-between;
              align-items: center;
    
              &:first-child {
                margin-bottom: 24px;
              }
    
              .image_section {
                width: 50%;
    
                img.about_img {
                  width: 100%;
                  height: 360px;
                  object-fit: cover;
                }
              }
    
              .text_section {
                width: 45%;
    
                &.ltr_block {
                  padding-right: 90px;
                }
    
                &.rtl_block {
                  padding-left: 90px;
                }
    
                p.about_subtitle {
                  @include text(#fff, 20px, 400, 30px);
                  margin-top: 24px;
                }
              }
    
              &:first-child {
                float: right;
              }
    
              @media screen and (max-width: 1800px) {
                .text_section {
                  &.ltr_block {
                    padding-right: 60px;
                  }
    
                  &.rtl_block {
                    padding-left: 60px;
                  }
                }
              }
    
              @media screen and (max-width: 1500px) {
                .text_section {
                  p.about_subtitle {
                    @include text(#fff, 18px, 400, 28px);
                    margin-top: 16px;
                  }
                }
    
                .image_section {
                  img.about_img {
                    height: 400px;
                  }
                }
              }
    
              @media screen and (max-width: 1280px) {
                .text_section {
                  &.ltr_block {
                    padding-right: 40px;
                  }
    
                  &.rtl_block {
                    padding-left: 40px;
                  }
                }
              }
    
              @media screen and (max-width: 1080px) {
                flex-wrap: wrap;
    
                .image_section {
                  width: 100%;
                }
    
                &:first-child {
                  .image_section {
                    margin: 20px 0 40px;
                  }
                }
    
                .text_section {
                  width: 100%;
    
                  &.ltr_block, &.rtl_block {
                    padding: 0;
                  }
    
                  &.ltr_block {
                    order: 1;
                  }
    
                  p.about_subtitle {
                    margin: 40px 0;
                  }
                }
              }
    
              @media screen and (max-width: 768px) {
                .text_section {
                  p.about_subtitle {
                    @include text(#fff, 16px, 400, 25px);
                  }
                }
              }
    
              @media screen and (max-width: 480px) {
                &:first-child {
                  .image_section {
                    margin-top: 0;
                  }
                }
    
                .text_section {
                  &.ltr_block, &.rtl_block {
                    padding: 0 24px;
                  }
    
                  p.about_subtitle {
                    @include text(#fff, 14px, 400, 22px);
                  }
                }
              }
            }
          }
        }
    }

    .benefits {
        position: relative;
        padding: 96px 0;

        .container {
          .benefits_content {
            .content__advantages {
              position: relative;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              padding-top: 80px;
              z-index: 2;
    
              .advantages__item {
                position: relative;
                overflow: hidden;
    
                display: flex;
                flex-direction: column;
    
                flex: 0 1 24%;
                background: $orange;
                margin-bottom: 16px;
                padding: 16px 14px 16px 14px;
    
                .item__image {
                  position: relative;
                  z-index: 2;
    
                  margin-bottom: 20px;
    
                  @media screen and (max-width: 450px) {
                    img{
                      max-height: 34px;
                    }
                  }
                }
    
                .item__text{
                  max-width: 235px;
                  text-align: right;
    
                  display: block;
                  margin-left: auto;
                  margin-top: auto;
    
                  @include text(#fff,20px,600,24px);
    
                  @media screen and (max-width: 700px) {
                    max-width: 171px;
                    @include text(#fff,18px,600,22px);
                  }
    
                  @media screen and (max-width: 450px) {
                    max-width: 141px;
                    @include text(#fff,12px,600);
                  }
    
                  @media screen and (max-width: 400px) {
                    max-width: 121px;
                  }
                  @media screen and (max-width: 350px) {
                    max-width: 101px;
                    @include text(#fff,10px,600);
                  }
                }
    
                &:after{
                  content: '';
                  height: 124%;
                  width: 124%;
                  transform: rotate(-45deg);
                  position: absolute;
                  top: -70%;
                  left: -60%;
                  z-index: 1;
                  background: $grey-2;
                  transition: all .2s linear;
                }
    
                @media screen and (max-width: 1000px) {
                  flex: 0 1 48.5%;
                  margin-bottom: 20px;
                }
    
                @media screen and (max-width: 450px) {
                  margin-bottom: 14px;
                  padding: 10px;
                }
              }
    
              @media screen and (max-width: 1280px) {
                padding: 70px 0;
    
                .advantages__item {
                  flex: 0 1 49%;
                }
              }
    
              @media screen and (max-width: 768px) {
                padding: 60px 0;
    
                .advantages__item {
                  flex: 0 1 100%;
                }
              }
    
              @media screen and (max-width: 480px) {
                padding: 50px 0;
    
                .advantages__item {
                  flex: 0 1 100%;
                }
              }
            }
          }
        }
        @media screen and (max-width: 500px) {
            padding: 80px 0px;
        }
    }

    .key_aspects {
      position: relative;

      .container{
        @media screen and (max-width: 500px) {
          padding: 0px 21px;
        }
      }
      
      .pulse_mb-24{
        @media screen and (max-width: 800px){
          display: block;
          margin-bottom: 24px;
        }
      }

      .key_aspects_wrapper{
        position: relative;
        max-width: 90%;
        min-height: 80vh;
        background: $grey-2;
        padding: 40px 27px;
        padding-bottom: 90px;

        .key_aspects__content {
          .content__title {
            @include text(#fff,24px,400px,29px);
            text-transform: uppercase;
            letter-spacing: 0.148em;

            @media screen and (max-width: 800px) {
              margin-bottom: 26px;
              color: #555555;
              font-weight: 600;
            }
            @media screen and (max-width: 500px) {
              @include text(#555555,16px,600px,20px);
              margin-bottom: 12px;
            }
          }

          .content__slider {
            margin-top: 80px;
            padding-right: 60px;

            .key_aspects__slider{
              overflow: hidden;

              .slider__slide{
                width: 100%;
                display: flex;

                .mt-80{
                  margin-top: 80px;
                }

                .mb-30{
                  margin-bottom: 30px;

                  @media screen and (max-width: 1500px) {
                    margin-bottom: 20px;
                  }
                }

                .slide__info {
                  flex: 0 1 55%;

                  .slide__title {
                    @include text(#fff,48px,600,59px);
                    margin-bottom: 34px;

                    @media screen and (max-width: 1300px) {
                      @include text(#fff,36px,600,47px);
                    }

                    @media screen and (max-width: 900px) {
                      @include text(#fff,32px,600,47px);
                      margin-bottom: 15px;
                    }
                  }
                  
                  .slide__text {
                    max-width: 638px;
                    margin-left: 146px;

                    p{
                      @include text(#fff,16px,400,30px);

                      @media screen and (max-width: 1400px) {
                        @include text(#fff,14px,400,26px);
                      }
                    }
                    &-568{
                      max-width: 568px;
                    }

                    &-400{
                      max-width: 400px;
                    }

                    @media screen and (max-width: 1600px) {
                      padding-bottom: 60px;
                      margin-left: 80px;
                    }
                    @media screen and (max-width: 1500px) {
                      margin-left: 50px;
                    }
                    @media screen and (max-width: 1400px) {
                      margin-left: 30px;
                    }
                    @media screen and (max-width: 900px) {
                      margin-left: 0px;
                    }
                  }
                }
                
                .slide__image {
                  flex: 0 1 40%;
                  text-align: right;

                  img{
                    max-width: 100%;
                  }
                  @media screen and (max-width: 1400px) {
                    flex: 0 1 35%;
                  }
                  @media screen and (max-width: 1300px) {
                    flex: 0 1 40%;
                  }
                }
                @media screen and (max-width: 1400px) {
                  justify-content: space-between;
                }
              }
              .align-center{
                align-items: center;
              }
              .align-stretch{
                align-items: stretch;
              }
            }
            @media screen and (max-width: 1300px) {
              margin-top: 60px;
            }
            @media screen and (max-width: 800px) {
              display: none;
            }
          }

          .content__accordions{
            display: none;
            .accordions__item {
              border-top: none;
              border-bottom: 1px solid #555555;

              &:last-child{
                border-bottom:  none;
              }

              .accordion__input {
                  display: none;
              }

              .accordion__trigger {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  width: 100%;
                  padding: 28px 0px;

                  @include text(#fff, 24px, 600,29px);
                  cursor: pointer;

                  -webkit-touch-callout: none;
                  /* iOS Safari */
                  -webkit-user-select: none;
                  /* Chrome/Safari/Opera */
                  -khtml-user-select: none;
                  /* Konqueror */
                  -moz-user-select: none;
                  /* Firefox */
                  -ms-user-select: none;
                  /* Internet Explorer/Edge */
                  user-select: none;

                  .trigger__arrow {
                      margin-bottom: -2px;
                      transition: all .2s linear;
                  }

                  @media screen and (max-width: 500px) {
                    padding: 24px 0px;
                  }
              }

              .accordion__content {
                  max-height: 2000vh;
                  overflow: hidden;
                  height: 0px;
                  transition: height .2s linear;

                  .content__image{
                    max-width: 40vw;
                    margin: 0 auto;
                    margin-bottom: 33px;

                    img{
                      max-width: 100%;
                    }

                    @media screen and (max-width: 500px) {
                      max-width: 50vw;
                      &-pulse{
                        max-width: 85vw;
                      }
                    }
                  }

                  .content__text{
                    @include text(#fff,14px,400,22px);
                    padding-bottom: 40px;
                  }
              }

              .accordion__input:checked~.accordion__content {
                  opacity: 1;
                  height: initial;
                  transition: .2s linear;
              }

              .accordion__input:checked + .accordion__trigger .trigger__arrow{
                transform: rotate(180deg);
              }
              
            }

            @media screen and (max-width: 800px) {
              display: block;
            }
          }

          .swiper_custom_button_next {
            right: 37px;
            &:after{
              display: none;
              
            }
          }
        }

        @media screen and (min-height: 1100px) {
          min-height: 64vh;
        }

        @media screen and (min-height: 1000px) and (max-height: 1100px) {
          min-height: 70vh;
        }

        @media screen and (max-width: 1600px) {
          padding-bottom: 0px;
        }

        @media screen and (max-width: 1100px) {
          max-width: 100%;
          width: 100%;
        }

        @media screen and (max-width: 700px) {
          padding-right: 0px;
          padding-left: 0px;
        }
      }
    }

    .signup_section {
      padding: 95px 0 65px;
  
      @media screen and (max-width: 758px) {
        padding: 80px 0;
      }
  
      .container {
        .signup_section_content {
          p.signup_section_subtitle {
            @include text(#fff, 16px, 600, 20px);
            padding: 40px 0;
  
            @media screen and (max-width: 768px) {
              @include text(#fff, 15px, 600, 18px);
              padding: 32px 0;
            }
  
            @media screen and (max-width: 480px) {
              @include text(#fff, 14px, 600, 17px);
              padding: 24px 0;
            }
          }
        }
      }
    }
}

.path_line {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
}

.path_line_sec {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
}

.path_line_third{
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
}

.path_line_fourth{
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: line;
}

@keyframes line {
  100% {
      stroke-dashoffset: 0;
  }
}

.wp-block-button{
  position: relative !important;
        display: block !important;
        padding: 19px 44px !important;
        background: $orange !important;
        border: none !important;
        outline: none !important;
        text-transform: uppercase !important;
        overflow: hidden !important;
        cursor: pointer !important;
        border-radius: 0px !important;

        .wp-block-button__link{
          border-radius: 0px !important;
          background: transparent !important;
          padding: 0 !important;
            position: relative !important;
            z-index: 2 !important;
            transition: all .2s linear !important;

            @include text(#fff !important,16px !important,600 !important);
        }

        &:after{
            content: '';
            height: 120% !important;
            width: 120% !important;
            transform: rotate(-45deg) !important;
            position: absolute !important;
            top: -70% !important;
            left: -60% !important;
            z-index: 1 !important;
            background: #fff !important;
            transition: all .2s linear !important;

            @media screen and (max-width: 400px) {
                height: 115% !important;
                width: 115% !important;
            }
        }

        &:hover{
            .wp-block-button__link{
                color: $orange !important;
            }
            &:after{
                transform: scale(3) rotate(0deg) !important;
                top: 0% !important;
                left: 0% !important;
            }
        }

        @media screen and (max-width: 400px) {
          font-size: 14px !important;
          padding: 16px 20px !important;
          min-width: 250px !important;
        }
}